Source: heartbeat-2
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5.0.37.2), libsnmp-dev, libglib2.0-dev, perl, net-tools, iputils-ping, python (>=2.6.6-3~), psmisc, libnet1-dev, iproute, libtool, libcurl4-openssl-dev | libcurl3-openssl-dev, libxml2-dev, bison, flex, uuid-dev, lynx, libbz2-dev, zlib1g-dev, uuid-dev, libsensors4-dev, libltdl3-dev, swig, openssh-client, libgnutls28-dev | libgnutls-dev, dh-python, python-dev, libpam0g-dev, libncurses5-dev, psmisc, libopenhpi-dev, quilt
Standards-Version: 3.9.5

Package: ldirectord-2
Section: admin
Priority: extra
Architecture: all
Depends: ${perl:Depends}, ipvsadm, libauthen-radius-perl, libcrypt-ssleay-perl, libdbi-perl, libdigest-hmac-perl, libdigest-md5-perl, libmail-pop3client-perl, libmailtools-perl, libnet-dns-perl, libnet-imap-simple-perl, libnet-imap-simple-ssl-perl, libnet-ldap-perl, libnet-perl, libwww-perl
Recommends: rsyslog | system-log-daemon, logrotate
Conflicts: libpils0 (<< 2.0.8-3), libstonith0 (<< 2.0.8-3), stonith (<< 2.0.8-3)
Description: Monitors virtual services provided by LVS
 ldirectord is a stand-alone daemon to monitor services of real
 for virtual services provided by The Linux Virtual Server (LVS).
 and works with Linux-HA's heartbeat package.

Package: heartbeat-2
Section: admin
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, iproute, adduser, iputils-ping, psmisc, gawk, mawk, libxml2-utils, libpam-runtime (>= 0.76-14)
Recommends: rsyslog | system-log-daemon, logrotate, iptables
Provides: libstonith0, libpils0
Conflicts: libstonith0, libpils0, heartbeat, cluster-agents
Replaces: libstonith0, libpils0
Description: Subsystem for High-Availability Linux
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.

Package: heartbeat-2-dev
Section: devel
Priority: optional
Architecture: any
Depends: heartbeat-2 (= ${binary:Version})
Provides: libstonith-dev, libpils-dev
Conflicts: libstonith-dev, libpils-dev
Replaces: libstonith-dev, libpils-dev
Description: Subsystem for High-Availability Linux - development files
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.
 .
 This package contains development files

Package: heartbeat-2-gui
Section: admin
Priority: optional
Architecture: any
Depends: ${python:Depends}, python-gtk2, python-glade2, uuid-runtime
Suggests: heartbeat-2 (= ${binary:Version})
Description: Provides a gui interface to manage heartbeat clusters
 GUI client for heartbeat clusters
