Source: heartbeat-2
Section: admin
Priority: optional
Maintainer: Sipwise Development Team <support@sipwise.com>
Standards-Version: 3.9.8
Build-Depends:
 bison,
 debhelper-compat (= 12),
 dh-python,
 flex,
 iproute2,
 iputils-ping,
 libbz2-dev,
 libcurl4-gnutls-dev,
 libglib2.0-dev,
 libgnutls28-dev,
 libltdl3-dev,
 libncurses5-dev,
 libnet1-dev,
 libopenhpi-dev,
 libpam0g-dev,
 libsensors4-dev,
 libsnmp-dev,
 libtool,
 libxml2-dev,
 lynx,
 net-tools,
 openssh-client,
 perl,
 psmisc,
 python (>= 2.6.6-3~),
 python-dev,
 swig,
 uuid-dev,
 zlib1g-dev,

Package: ldirectord-2
Section: admin
Priority: optional
Architecture: all
Depends:
 ipvsadm,
 libauthen-radius-perl,
 libcrypt-ssleay-perl,
 libdbi-perl,
 libdigest-hmac-perl,
 libdigest-md5-perl,
 libmail-pop3client-perl,
 libmailtools-perl,
 libnet-dns-perl,
 libnet-imap-simple-perl,
 libnet-imap-simple-ssl-perl,
 libnet-ldap-perl,
 libnet-perl,
 libwww-perl,
 ${perl:Depends},
Recommends:
 logrotate,
 rsyslog | system-log-daemon,
Conflicts:
 libpils0 (<< 2.0.8-3),
 libstonith0 (<< 2.0.8-3),
 stonith (<< 2.0.8-3),
Description: Monitors virtual services provided by LVS
 ldirectord is a stand-alone daemon to monitor services of real
 for virtual services provided by The Linux Virtual Server (LVS).
 and works with Linux-HA's heartbeat package.

Package: heartbeat-2
Section: admin
Priority: optional
Architecture: any
Depends:
 adduser,
 gawk,
 iproute2,
 iputils-ping,
 libpam-runtime (>= 0.76-14),
 libxml2-utils,
 mawk,
 psmisc,
 ${python:Depends},
 ${shlibs:Depends},
Recommends:
 iptables,
 logrotate,
 rsyslog | system-log-daemon,
Provides:
 libpils0,
 libstonith0,
Conflicts:
 cluster-agents,
 cluster-glue,
 heartbeat,
 libpils0,
 libstonith0,
 pacemaker,
 pacemaker-cli-utils,
 resource-agents,
Replaces:
 libpils0,
 libstonith0,
Description: Subsystem for High-Availability Linux
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.

Package: heartbeat-2-dev
Section: devel
Priority: optional
Architecture: any
Depends:
 heartbeat-2 (= ${binary:Version}),
Provides:
 libpils-dev,
 libstonith-dev,
Conflicts:
 libpils-dev,
 libstonith-dev,
Replaces:
 libpils-dev,
 libstonith-dev,
Description: Subsystem for High-Availability Linux - development files
 heartbeat is a basic heartbeat subsystem for Linux-HA which implements
 serial, UDP, and PPP/UDP heartbeats together with IP address takeover
 including a nice resource model including resource groups.
 .
 It currently supports a very sophisticated dependency model for n-node
 clusters. It is both extremely useful and quite stable at this point in
 time.
 .
 This package contains development files

Package: heartbeat-2-gui
Section: admin
Priority: optional
Architecture: any
Depends:
 python-glade2,
 python-gtk2,
 uuid-runtime,
 ${python:Depends},
Suggests:
 heartbeat-2 (= ${binary:Version}),
Description: Provides a gui interface to manage heartbeat clusters
 GUI client for heartbeat clusters
