[Unit]
Description=Heartbeat Watchdog for High-Availability Linux
Documentation=man:heartbeat(8)
After=network-online.target
After=heartbeat.service
After=monit.service
Requires=heartbeat.service
Wants=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
ExecStart=/etc/init.d/hb_watchdog start
ExecStop=/etc/init.d/hb_watchdog stop

[Install]
WantedBy=multi-user.target
